flask
opencv-python
certifi
chardet
click
cmake==3.25.2
decorator
dlib==19.24.2
face-recognition
face-recognition-models
idna
imageio
imageio-ffmpeg
moviepy
numpy
opencv-python
Pillow
proglog
requests
tqdm
urllib3
wincertstore